.line {
  height: 100px;
  margin: 0 calc(var(--bs-gutter-x) * -0.5);

  @include media-breakpoint-up(md) {
    height: 150px;
  }
}
.line__inner {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 20px;
  background-color: $white;
  padding: 8px 0;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
  box-shadow: 0 5px 0 0 $dark-blue;
  transform: rotate(-5deg);
  z-index: 3;

  @include media-breakpoint-up(md) {
    padding: 16px 0;
  }
}

.line__item {
  display: flex;
  gap: 30px;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}