.header {
  background-image: url('../../../public/images/header/bg.png');
  //background-repeat: no-repeat;
  background-position: 50% 300px;
  height: 300px;
  font-size: 22px;

  .container {
    height: 100%;
  }

  @media (min-width: 346px) {
    background-position: 50% 260px;
    height: 260px;
  }

  @include media-breakpoint-up(lg) {
    background-position: 50% 170px;
    height: 170px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  padding: 20px 0;

  @include media-breakpoint-up(sm) {
    padding: 40px 0;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  @include media-breakpoint-up(xxl) {
    padding: 40px 110px;
  }
}

.header__nav {
  display: flex;
  text-transform: uppercase;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    gap: 40px;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media-breakpoint-up(sm) {
    gap: 20px;
  }
}

.header__logo {
  transition: $transition-base;

  &:hover {
    transform: scale(1.1);
  }
}