.container {
width: 100%;
margin-right: auto;
margin-left: auto;
max-width: 1320px;
}

.row {
display: flex;
flex-wrap: wrap;
margin: -8px;
}

.col {
flex: 0 0 auto;
width: 16.66666667%;
padding: 8px;
}

@font-face {
font-family: "fi";
font-weight: normal;
font-style: normal;
font-display: block;
src: url("./fi.woff") format("woff");
}

.fi {
font-family: "fi";
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

    .fi_icon-close:before {
  content: "\f101";
  }
